/*@import url("css/bootstrap-arabic.css");*/
@import url("css/lavish-bootstrap.css");

body {
 
  font-family: 'Cairo', sans-serif;
 /*background-color:  #ecffb3;*/
 overflow-x: hidden; /* Prevent scroll on narrow devices */
 font-size: 180%;
 


}

/*#navbar li {

	float: right;
}*/

    
.essadiki {
	height: 200px;
	width: 200px;
	border-radius: 100%;
	font-size: 140px;
	color: blue;
	/*text-align: center;*/
	padding-top: 30px;
	
}

footer .container {

	text-align: center;
}
.jumbotron {
/*background-color: #d9e028;*/
padding: 2px;

}

.jumbotron h1 {
/*color: #853259;*/

    background-color: #b9def0;
}

/*@media screen and (min-width: 767px) {*/

	#navbar li{
		float: right;
	}
/*}*/

  

.rtl{
	direction: rtl;
}

/*
 * Off Canvas
 * --------------------------------------------------
 */
@media screen and (max-width: 767px) {
  .row-offcanvas {
    position: relative;
    -webkit-transition: all .25s ease-out;
         -o-transition: all .25s ease-out;
            transition: all .25s ease-out;
  }

  .row-offcanvas-right {
    right: 0;
  }

  .row-offcanvas-left {
    left: 0;
  }

  .row-offcanvas-right
  .sidebar-offcanvas {
    right: -50%; /* 6 columns */
  }

  .row-offcanvas-left
  .sidebar-offcanvas {
    left: -50%; /* 6 columns */
  }

  .row-offcanvas-right.active {
    right: 50%; /* 6 columns */
  }

  .row-offcanvas-left.active {
    left: 50%; /* 6 columns */
  }

  .sidebar-offcanvas {
    position: absolute;
    top: 0;
    width: 50%; /* 6 columns */
  }
}