@import url("css/bootstrap-arabic.css");

body {
 direction: rtl;
  font-family: 'Cairo', sans-serif;
 

}


    
.essadiki {
	height: 200px;
	width: 200px;
	border-radius: 100%;
	font-size: 140px;
	color: blue;
	text-align: center;
	padding-top: 30px;
	
}

footer {

	text-align: center;
}
.jumbotron {


    background-color: #b9def0;
}


