	<hr>
	<footer class="footer">
      <div class="container rtl">
        <p class="text-muted">جميع الحقوق محفوظة &copy; <a href="{{site.baseurl}}/">الويب العربي</a> 2016.</p>
      </div>
    </footer>
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="{{site.baseurl}}/js/bootstrap-arabic.js"></script>
    <script src="{{site.baseurl}}/js/bootstrap-arabic.min.js"></script>
    <script src="{{site.baseurl}}/js/offcanvas.js"></script>
   <!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  
  </body>
</html>